
    $colorPrimaryGray: #999999; /* button, links */
    $colorAccent: #2468ff; /* button, icon, link-hover color*/
    $colorBlack: #000000;
    
      /* bacground colors */
    $colorBackgroundPrimary: #ffffff;
    $colorBackgroundDark: #161f49;
    $colorBackgroundHero: rgba(0, 0, 0, 0.5);
    $colorBackgroundProducts: #070e16;
    $colorBackgroundPromoArticle: #404040;
    $colorBackgroundLightGray: #f7f7f7; /* selection-section and stay-connected-section */
      /* text colors */
    $colorTextPrimary: #404040;
    $colorTextWhite: #ffffff;
    $colorTextAddress: #646565; /* offer-section */
    $colorTextPlaceholder: #989898;
  
    $colorTextSelectionButton: rgba(64, 64, 64, 0.3); /* selection-section */
    $colorSquareGreen: #00b68c;
    $colorLinkUnderline: #dedede;
  
    $baseTransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);