<footer>
<div class="container">
    <a  class="logo" href="#" class="logo__link">
    <svg class="logo__icon" width="86px" height="37px">
    <use href="./images/symbol-defs-optima.svg#icon-Frame-1"></use>
  </svg>
    
  </a>

<div class="footer-general-box">
    <div class="footer-box-one">
  

  <ul class="eero-footer-list">
  <li class="eero-footer-list__items">Products</li>
  <li class="eero-footer-list__items">How it works</li>
  <li class="eero-footer-list__items">Technology</li>
  <li class="eero-footer-list__items">eero Secure</li>
  <li class="eero-footer-list__items">Support</li>
  <li class="eero-footer-list__items">Find Your System</li>
  <li class="eero-footer-list__items">Cookie preferences</li>
</ul>
<ul class="eero-footer-list">
  <li class="eero-footer-list__items">Shop</li>
  <li class="eero-footer-list__items">Careers</li>
  <li class="eero-footer-list__items">Blog</li>
  <li class="eero-footer-list__items">Media room</li>
  <li class="eero-footer-list__items">Legal</li>
  <li class="eero-footer-list__items">Custom installer</li>
  <li class="eero-footer-list__items">Where to buy</li>
  <li class="eero-footer-list__items">eero for Service Providers</li>
</ul>
</div>

<div class="footer-box-two">
            <p class="footer-field-label">Connect with us</p>
            <p class="footer-field-title">For the latest eero news and promotions.</p>
            <form class="footer-form">
        <label class="footer-form__field">
                <span class="visually-hidden">Email</span>
                <input
class="footer-form__input"
type="text"
name="email"
    id="email"
placeholder="E-mail"
                />
    </label>

    <button type="submit" class="footer-button">
        submit
        <svg class="footer-button__icon" width="20px" height="20px">
            <use href="./images/symbol-defs.svg#icon-Frame-logo"></use>
                </svg>
        </button>
        </form>
</div>
</div>
        
        

<div class="footer-soc-set">
<p class="footer-title"> &copy;2021 EERO LLC, SAN FRANCISCO, CA</p>

  <ul class="footer-social">
            <li class="footer-social__list">
                <a href="" class="footer-social__link">
                <svg class="footer-social__icon" width="20" height="20">
            <use href="./images/symbol-defs-optima.svg#icon-Vector-soc-1"></use>
                </svg>
                </a>
            </li>
            <li class="footer-social__list">
                <a href="" class="footer-social__link">
                <svg class="footer-social__icon" width="20" height="20">
                    <use href="./images/symbol-defs-optima.svg#icon-Vector-soc-2"></use>
                </svg>
                </a>
            </li>
            <li class="footer-social__list">
                <a href="" class="footer-social__link">
                <svg class="footer-social__icon" width="20" height="20">
                    <use href="./images/symbol-defs-optima.svg#icon-Vector-soc-3"></use>
                </svg>
                </a>
            </li>
            <li class="footer-social__list">
                <a href="" class="footer-social__link">
                <svg class="footer-social__icon" width="20" height="20">
                    <use href="./images/symbol-defs-optima.svg#icon-Vector-soc-4"></use>
                </svg>
                </a>
            </li>
            <li class="footer-social__list">
                <a href="" class="footer-social__link">
                <svg class="footer-social__icon" width="20" height="20">
                    <use href="./images/symbol-defs-optima.svg#icon-Vector-soc-5"></use>
                </svg>
                </a>
            </li>
            </ul>
</div>
</div>
</footer>