<footer class="footer">
    <div class="container">
        <a class="logo" href="#" class="logo__link">
            <svg class="logo__icon" width="86" height="39">
                <use href="./images/icons.svg#icon-mainlogo"></use>
            </svg>
        </a>
        <div class="footer__gen-box">
            <div class="footer__box-one">
                <ul class="footer__list">
                    <li class="footer__items">Products</li>
                    <li class="footer__items">How it works</li>
                    <li class="footer__items">Technology</li>
                    <li class="footer__items">eero Secure</li>
                    <li class="footer__items">Support</li>
                    <li class="footer__items">Find Your System</li>
                    <li class="footer__items">Cookie preferences</li>
                </ul>
                <ul class="eero-footer-list">
                    <li class="footer__items">Shop</li>
                    <li class="footer__items">Careers</li>
                    <li class="footer__items">Blog</li>
                    <li class="footer__items">Media room</li>
                    <li class="footer__items">Legal</li>
                    <li class="footer__items">Custom installer</li>
                    <li class="footer__items">Where to buy</li>
                    <li class="footer__items">eero for Service Providers</li>
                </ul>
            </div>
            <div class="footer__box-two">
                <p class="footer__field-label">Connect with us</p>
                <p class="footer__field-title">For the latest eero news and promotions.</p>
                <form class="footer-form">
                    <label class="footer-form__field">
                        <input class="footer-form__input" type="text" name="email" id="email" placeholder="E-mail" />
                    </label>

                    <button type="submit" class="footer-button">
                        submit

                    </button>
                </form>
            </div>
        </div>
        <div class="footer__soc-set">
            <p class="footer-title"> &copy;2021 EERO LLC, SAN FRANCISCO, CA</p>

            <ul class="social-media">
                <li class="social-media__list">
                    <a href="" class="social-media__link">
                        <svg class="social-media__icon" width="30" height="30">
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-media__list">
                    <a href="" class="social-media__link">
                        <svg class="social-media__icon" width="30" height="30">
                            <use href="./images/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-media__list">
                    <a href="" class="social-media__link">
                        <svg class="social-media__icon" width="30" height="30">
                            <use href="./images/icons.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-media__list">
                    <a href="" class="social-media__link">
                        <svg class="social-media__icon" width="30" height="30">
                            <use href="./images/icons.svg#icon-pinterest"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-media__list">
                    <a href="" class="social-media__link">
                        <svg class="social-media__icon" width="30" height="30">
                            <use href="./images/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>