<section class="products">
  <ul class="products__list">
    <li class="products__item">
      <h2>eero Pro 6</h2>
      <h3>The fastest eero yet.</h3>
      <p>
        Tri-band Wi-Fi 6 system designed for homes with gigabit internet
        connections.
      </p>
      <p>Starting at $229</p>
      <button type="button">Shop now</button>
    </li>
    <li class="products__item">
      <h2>eero 6</h2>
      <h3>Experience Wi-Fi 6—the new standard for home wifi.</h3>
      <p>
        Dual-band Wi-Fi 6 system designed for homes with 500 Mbps internet
        connections.
      </p>
      <p>Starting at $129</p>
      <button type="button">Shop now</button>
    </li>
  </ul>
</section>
