<section class="selection">
    <div class="container">
        <h2 class="selection__title">Find your eero system</h2>
        <div class="configurator">
            <ul class="configurator__counter">
                <li class="configurator__item configurator__item--current">
                    <span class="configurator__dots configurator__dots--current">1</span>
                </li>
                <li class="configurator__item">
                    <span class="configurator__dots">2</span>
                </li>
                <li class="configurator__item">
                    <span class="configurator__dots">3</span>
                </li>
                <li class="configurator__item">
                    <span class="configurator__dots">4</span>
                </li>
            </ul>
            <div class="configurator__box">
                <form action="#">
                    <img class="configurator__img"
                        src="https://raw.githubusercontent.com/TikhonenkoVV/prj-arch/main/img/home-0.png" width="387">
                    </img>
                    <div class="configurator__page configurator__page--home">
                        <span class="configurator__caption">I have a</span>
                        <div class="configurator__group" role="group">
                            <label class="configurator__label configurator__label--smaller">smaller
                                <input class="configurator__checkbox configurator__checkbox--smaller visually-hidden"
                                    type="radio" name="size">
                            </label>
                            <label class="configurator__label configurator__label--medium">medium
                                <input class="configurator__checkbox configurator__checkbox--medium visually-hidden"
                                    type="radio" name="size">
                            </label>
                            <label class="configurator__label configurator__label--larger">larger
                                <input class="configurator__checkbox configurator__checkbox--larger visually-hidden"
                                    type="radio" name="size">
                            </label>
                        </div>
                        <span class="configurator__caption">home.</span>
                    </div>
                    <div class="configurator__page configurator__page--gadgets visually-hidden"></div>
                    <div class="configurator__page configurator__page--speed visually-hidden"></div>
                    <div class="configurator__page configurator__page--buy visually-hidden"></div>
                    <div class="configurator__btn-wrapper">
                        <a href="" class="configurator__btn configurator__btn--preview visually-hidden">Preview</a>
                        <a href="" class="configurator__btn configurator__btn--next">Next</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script defer src="./js/configurator.js"></script>
</section>