<section class="smart__home">
    <div class="container">
        <ul class="smart__list">
            <li class="smart__item">
                <svg class="smart__icon smart__icon--current">
                    <use href="./images/icons.svg#icon-lighting"></use>
                </svg>
            </li>
            <li class="smart__item">
                <svg class="smart__icon">
                    <use href="./images/icons.svg#icon-appliances"></use>
                </svg>
            </li>
            <li class="smart__item">
                <svg class="smart__icon">
                    <use href="./images/icons.svg#icon-security"></use>
                </svg>
            </li>
        </ul>

        <h2 class="section__title">Unlock your wifi’s potential.</h2>

        <p class="section__text">Both eero 6 and eero Pro 6 feature a built-in Zigbee smart home hub, making it easy to
            connect compatible devices with Alexa. So you can control certain lights, locks, plugs, and more—without the
            need to buy separate smart home hubs for each.</p>


        <button type="button" class="btn smart__btn">
            Learn More
        </button>

        <ul class="smart__box">
            <li class="smart__box-item"> </li>
            <li class="smart__box-item"> </li>
            <li class="smart__box-item"> </li>
        </ul>
    </div>
</section>