.products {
  background-image: url('../images/twoeero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  height: 1179px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 188px;
  padding-top: 580px;
}
