.smart__home
{
    max-width: 1440px;
    padding: 150px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    background-color: $colorBackgroundHero;
    background-image: url('../images/door.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.smart__list
{
    display: flex;
    justify-content: center;
    
}

.smart__item
{

}

.smart__icon
{
    width: 77px;
    height: 77px;
}

.section__title
{

}

.section__text
{
    width: 734px;
    margin-left: auto;
    margin-right: auto;
}

.smart__box
{
    display: flex;
    justify-content: center;
    list-style-type: square;
    color: black;
    gap: 10px;
}
